.Header {
    margin-top: 60px;
}

.HeaderTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}

.HeaderTitleSmall {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.HeaderTitleLarge {
    position: absolute;
    top: 23%;
    font-size: 100px;
    font-family: Roboto, italic;
}

.HeaderImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}